	a{
		text-decoration:none;
		color:#6d6d6d;
	}
	ul,li{
		margin:0px;
		padding:0px;
		list-style:none;
	}
	div	{
		box-sizing:border-box;
	}
	body{
		font-family:"微软雅黑"
	}
#header{
	width:100%;
	height:48px;
	margin-top:35px;
	margin-bottom:20px;
	padding-left:125px;
}
#logo{
	border-right:1px solid #e5e5e5;
	width:226px;
	height:40px;
	float:left;
}
#logo img{
	width:200px;
	height:40px;
}
#welcome{
	float:left;
	height:43px;
	padding-left:25px;
	font-size:24px;
	color:#585858;
	line-height:45px;
}

#main{
	width:101%;
	height:664px;
	background-image:url(../img/20170411152505_0239.jpg);
	background-repeat:no-repeat;
	margin-left:-10px;
	padding-top:264px;
}
#login_div{
	width:1000px;
	height:380px;
	margin:0px auto;
}
#login_place{
	width:355px;
	height:380px;
	float:right;
}
#login_form{
	width:358px;
	height:380px;
	padding:35px 25px 15px 28px;
	background-color:#fff;
}
#user_login{
	float:left;
	margin-left:5%;
	font-size:17px;
	color:#808080;
	cursor: pointer;
	margin-bottom:14px;
}
#phone_login{
	float:left;
	margin-left:20px;
	font-size:17px;
	color:#808080;
	cursor: pointer;
	margin-bottom:14px;
}
.hover{
	color:black !important;
	border-bottom:2px solid #ff5722;
	margin-bottom:12px;
	padding-bottom:11px;
}
#userName_place{
	clear:both;
	font-size:14px;
	color:#555;
}
#userName{
	width:224px;
	height:26px;
	margin-left:16px;
}
#password_place{
	margin-top:17px;
	font-size:14px;
	color:#555;
	margin-bottom:21px;
}
#pwd{
	width:224px;
	height:26px;
	margin-left:16px;
}
.option{
	width:305px;
	height:85px;
}
.wenzi{
	color:#6d6d6d;
	font-size: 12px; 
	margin-bottom:20px;
}
.wenzi input{
	margin-right:6px;
}
#zhuce{
	float:left;
	font-size: 12px; 
}
#wangji{
	text-align:right;
	float:left;
	font-size: 12px; 
	margin-left:170px;
}
.zhuce_wangji{
	width:100%;
}
.tijiao{
	clear:both;
	width:305px;
	height:65px;
}
#login_btn{
	width:300px;
	height:40px;
	background: #ff5500;
	line-height: 40px;
	margin-top:30px;
	color:white;
	border:none;
	cursor: pointer;
	font-size: 18px;
}
#user_place{
	display:block;
}
#phone_place{
	display:none;
}

#phoneName_place{
	clear:both;
	font-size:14px;
	color:#555;
}
#phoneName{
	width:125px;
	height:26px;
	margin-left:16px;
}
#dongtai_place{
	margin-top:17px;
	font-size:14px;
	color:#555;
	margin-bottom:21px;
}
#dongtai{
	width:125px;
	height:26px;
	margin-left:16px;
}
#getdongtai{
	width:110px;
	height:28px;
	line-height:28px;
	margin-left:3px;
	border:none;
	font-size:13px;
	background-color:#fe5722;
	color:#fff;
	cursor: pointer;
}
#phonelogin_btn{
	width:300px;
	height:40px;
	background: #ff5500;
	line-height: 40px;
	margin-top:10px;
	color:white;
	border:none;
	cursor: pointer;
	font-size: 18px;
}
.wenzi a{
	color:#ff5500;
}