.main{
	margin-top:8px;
}
.main_detail{
	display: flex;
}
/*面包屑*/
.bread a{
	font-size:12px;
}

/*左边导航*/
.nav_left{
	width:208px;
}
.floor_left,.floor_left_top{
	border-top:2px solid #e16300;
	margin-top:10px;
	border-bottom: 1px solid #ddd;
}
.floor_left>div,.floor_left_top>div{
	padding-left:15px;
	border:1px solid #ddd;
	padding-right:15px;
}
.floor_left>div a:hover,.floor_left_top>div a:hover{
    color: #fe5722;
}
.nav_title{
	line-height:30px;
	height:30px;
	font-size:15px;
}
.nav_list>ul{
	display:flex;
	flex-wrap:wrap;
	padding:5px 0px;
	justify-content:space-between;
}
.nav_list>ul>li{
	display:block;
	width:80px;
	height:24px;
}
.left_block{
	width:208px;
	padding:8px;
	border:1px solid #ddd;
}
/*排行榜*/
.paixing_main{
	overflow:hidden;
	height:310px;
}
.paixing{
	padding-top:5px;
	padding-bottom:5px;
	position:relative;
	top:0px;
	transition:2s;
}
.paixing_topthree,.paixing_others{
	border:1px solid #ff2e2e;
	border-radius:50%;
	width:16px;
	height:16px;
	line-height:15px;
	text-align:center;
	color:#ff2e2e;
	float:left;
	margin-right:10px;
	font-weight:bold;
}
.paixing_others{
	color:#9f9f9f;
	border:1px solid #9f9f9f;
}
.paixing_detail{
	float:left;
}
.paixing>li{
	clear:both;
	height:80px;
}

.paixing_detail>a>img{
	width:60px;
	float:left;
}
.paixing_detail>a>div{
	float:left;
	margin-left:8px;

}
.paixing_detail>a>div>p:nth-child(1){
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	width:82px;
}
.paixing_detail>a>div>p:nth-child(2){
	margin-top:30px;
	color:#ff2e2e;
	font-size:14px;
}
.paixing_gotop,.paixing_godown{
	text-align:center;
	font-size:50px;
	height:40px;
	line-height:40px;
	color:#ff2e2e;
	font-weight:bold;
	display:block;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}


/*右边详情页的分类*/

.nav_right{
	width: 980px;
	margin-top: 10px;
	margin-left: auto
}
.sub_category{
	border: 1px solid #ddd;
    padding: 0px 10px;
	width:100%;
}
.sub_category p:nth-child(1){
	font-size: 14px;
    font-weight: bold;
    color: #333333;
    height: 30px;
    line-height: 30px;
}
.sub_category div:nth-child(2){
	padding: 10px 0px;
}
.sub_category div:nth-child(2)>a{
	margin-right: 20px;
	color: #535353;
    white-space: normal;
}
.sub_category div:nth-child(2)>a:hover{
	color:#ff2e2e;
}

/*分类搜索*/
.sub_search{
	margin-top: 30px;
    border: 1px solid #dbdbdb;
    border-top: 2px solid #e16300;
    padding: 10px 18px;
}
.sub_search_top{
    line-height: 20px;
    margin-bottom: 10px;
}
#class_search{
	border: 2px solid #e16300;
    padding-left: 10px;
    height: 20px;
    outline: none;
}
#class_search_btn{
	border: 2px solid #e16300;
    height: 26px;
    background-color: #e16300;
    position: relative;
    top: 1px;
    color: #fff;
    outline: none;
    cursor: pointer;
}
.search_choice_main{
    line-height: 20px;
    height: 20px;
}
.search_choice{
	position: relative;
    top: 2px;
}
.cakes_sub:hover{
	color: #e16300;
}


/*商品分页*/
.products_main{
    margin-top: 20px;
}
.products_inside{
}
.products_ul{
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.products{
	margin-bottom: 20px;
	margin-left: 25px;
}

.product_pic_title>img{
	width: 220px;
    height: 220px;
}
.product_pic_title>p{
	margin-top: 10px;
    margin-bottom: 10px;
	display:block;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 220px;
}
.product_pic_title>p:hover{
	color:#ff2d2e;
}
.price{
	float: left;
    color: #ff2d2e;
    padding-right: 10px;
    font-size: 14px;
}
.normalpirce{
	float: left;
    text-decoration: line-through;
    margin-top: 2px;
    color: #999;
}

.page{
	float:right;
	display: flex;
	line-height:28px;
}
.page>*{
	margin-left:10px;
	color: #999;
}
.page>a{
	border: 1px solid #cccccc;
    line-height: 28px;
    border-radius: 3px;
    width: 30px;
    height: 28px;
    display: block;
	text-align:center;
}
.prev{
    width: 60px !important;
}
.pages{
}
.pages.active{
	color:#ff2d2e;
	border:1px solid #ff2d2e;
}
.next{
    width: 60px !important;
}
.totalpage{
}
.page_go{
    width: 40px;
    text-align: center;
}
.page_go_btn{
	background: #e16300;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}